@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-dark: #112711;
  --brand-green: #017d3e;

  --border-light: #e6e6e6;
  --text-secondary: #666666;
  --text--para: #112711;
  --btn: #017d3e;
  --text--h2: #143119;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text: var(--btn);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-dm);

  /* color: var(--foreground); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-general);
}

.general {
  font-family: var(--font-general);
}

.dm {
  font-family: var(--font-dm);
}
.max {
  @apply max-w-screen-2xl mx-auto;
}
.pad {
  @apply px-[5%];
}
.links {
  @apply text-[18px] md:text-[20px];
  color: var(--text--para);
}
.btn {
  @apply px-6 py-3 rounded-[10px] cursor-pointer text-[16px] font-semibold text-white text-center transition-all hover:opacity-90;
  background-color: var(--btn);
  font-family: var(--font-general);
}
.btn-str {
  @apply px-6 py-3 rounded-[10px] cursor-pointer text-[16px] font-semibold  text-center transition-all hover:opacity-90;
  font-family: var(--font-general);
}
.rm {
  @apply py-14;
}
.h1t {
  @apply text-[34px] sm:text-[38px] md:text-[45px] lg:text-[54px]  font-medium leading-[115.99999999999999%];
  color: var(--text--para);
}
.h1t-program {
  @apply text-[28px] sm:text-[32px] md:text-[36px] lg:text-[40px]  font-medium leading-[115.99999999999999%];
  color: var(--text--para);
}
.h2t {
  @apply text-[24px] sm:text-[28px] md:text-[34px] lg:text-[40px]  font-medium leading-[115.99999999999999%];
  color: var(--text--h2);
  font-family: var(--font-general);
}
.h2t-program {
  @apply text-[24px] sm:text-[28px] md:text-[30px] lg:text-[32px]  font-medium leading-[115.99999999999999%];
  color: var(--text--h2);
  font-family: var(--font-general);
}
.h3t {
  @apply text-[22px] sm:text-[26px] md:text-[28px] lg:text-[32px]  font-medium leading-[115.99999999999999%];
  color: var(--text--h2);
  font-family: var(--font-general);
}

.para {
  @apply text-[18px] md:text-[20px] leading-[166%] tracking-[1%];
  color: var(--text--para);
}
.para-str {
  @apply text-[16px] md:text-[18px] leading-[166%] tracking-[1%];
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.para2 {
  @apply text-[20px] md:text-[24px] leading-[166%] tracking-[1%];
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
